<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @console.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @console.company %>
</p>

<%= link_to 'Edit', edit_console_path(@console) %> |
<%= link_to 'Back', consoles_path %>

<%= render 'games/index' %>