<!DOCTYPE html>
<html>
<head>
  <title>Unit10</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'header' %>

<p id="notice"><%= notice %></p>

<div id="login">
  <% if user_signed_in? %>
	Signed in as <%= current_user.email %>.  Not you? <%= link_to "Sign out", destroy_user_session_url, method: :delete %>
  <% else %>
	<%= link_to "Log In", new_user_session_url %> <%= link_to "Sign Up", new_user_registration_url %>
  <% end %>
</div>

<p id="alert"><%= alert %></p>

<div id="content"><%= content_for?(:content) ? yield(:content) : yield %></div>

<%= render 'footer' %>

</body>
</html>
